.rating {
  display: flex;
  align-items: center;
  margin-top: 12px;
  min-height: 16px;
  font-size: 13px;
}

.ratingCount {
  display: inline-block;
  margin-left: 5px;
  color: rgba(0, 0, 0, 0.6);
}
